.project-overview-container {
  max-height: calc(100% - 60px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
}

.project-breadcrumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.project-overview-header {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.project-summary-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

.project-overview-scrollable {
  overflow: auto;
}

.project-topic-list-container {
  margin: 10px;
}

.project-ks-list-container {
  max-height: 50%;
  margin: 10px;
}

.project-overview-calendar {
  margin: 10px;
}

app-project-summary {
  width: 100%;
  margin: 10px;
}

.project-topic-list {
  width: 100%;
}

app-project-topic-list {
  width: 100%;
}

.project-accordion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-detail-overview-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.project-detail-overview-title {
  margin: 5px;
}


