<div class="project-overview-header">
  <div class="project-breadcrumb-container">
    <div *ngIf="tooManyAncestorsToDisplay">
      <button class="project-breadcrumb" disabled>&hellip;</button>
    </div>
    <div *ngFor="let ancestor of ancestors">
      <button class="project-breadcrumb" (click)="navigate(ancestor.id)">{{ancestor.title | truncate: [16, '...']}}</button>
    </div>
  </div>
  <div style="min-width: 8px; max-width: 8px"></div>
  <div>
    <button class="project-breadcrumb" (click)="addKnowledgeSource()">+ Source</button>
    <button class="project-breadcrumb" (click)="addTopics()">+ Topic</button>
    <button class="project-breadcrumb" *ngIf="!detailsHidden" (click)="onDetailClick()">- Details</button>
    <button class="project-breadcrumb" *ngIf="detailsHidden" (click)="onDetailClick()">+ Details</button>
  </div>
</div>
<div class="project-overview-container" #projectOverview>
  <div class="project-overview-calendar">
    <div class="container">
      <h2>{{currentProject.name}} / Calendar</h2>
      <app-project-calendar [calendar]="currentProject.calendar" (start)="calStart($event)" (end)="calEnd($event)"></app-project-calendar>
    </div>
  </div>

  <div class="project-topic-list-container">
    <div class="container">
      <h2>{{currentProject.name}} / Topics</h2>
      <app-project-topic-list [kcComponentType]="'project'" #topics></app-project-topic-list>
    </div>
  </div>


  <div class="project-ks-list-container">
    <div class="container">
      <h2>{{currentProject.name}} / Knowledge Sources</h2>
    </div>
    <app-knowledge-source-table></app-knowledge-source-table>
  </div>

  <div class="project-summary-container">
    <div class="container" [style.display]="detailsHidden ? 'none': 'block'">
      <div class="row no-pad no-margin flex-row-center-between">
        <div style="width: 50%">
          <h2>{{currentProject.name}} / Details</h2>
        </div>
        <div class="ks-info-controls">
          <button mat-icon-button (click)="openAll()">
            <mat-icon>
              unfold_more
            </mat-icon>
          </button>
          <button mat-icon-button (click)="closeAll()">
            <mat-icon>
              unfold_less
            </mat-icon>
          </button>
        </div>
      </div>

      <div class="project-accordion-container">
        <mat-accordion #accordion="matAccordion" [multi]="true" togglePosition="after" class="ks-details-accordion">
          <!--        TODO: implement notes features (add a note, delete a note, etc)-->

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <mat-form-field style="width: 100%" (focusout)="setDescription()">
                    <mat-label>Description</mat-label>
                    <textarea placeholder="Enter or Edit Description..."
                              [matTextareaAutosize]="true"
                              [(ngModel)]="currentProject.description"
                              cdkAutosizeMinRows="5"
                              matInput></textarea>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <!--          <mat-expansion-panel [expanded]="currentProject.topics && currentProject.topics.length > 0">-->
          <!--            <mat-expansion-panel-header>-->
          <!--              <mat-panel-title>Topics</mat-panel-title>-->
          <!--              <mat-panel-description></mat-panel-description>-->
          <!--              <div class="mat-panel-body">-->
          <!--                <ng-template matExpansionPanelContent>-->
          <!--                  -->
          <!--                </ng-template>-->
          <!--              </div>-->
          <!--            </mat-expansion-panel-header>-->
          <!--          </mat-expansion-panel>-->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Notes</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <mat-form-field style="width: 100%" (focusout)="setNotes()">
              <textarea placeholder="Enter or Edit a Note..."
                        [matTextareaAutosize]="true"
                        [(ngModel)]="currentProject.notes"
                        cdkAutosizeMinRows="4"
                        matInput></textarea>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Timeline</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <div class="row">
                    <div class="col s4 left">
                      <b>Created:</b>   {{currentProject.dateCreated | date: 'shortDate'}}
                    </div>
                    <div class="col s4">
                      <b>Accessed:</b>  {{currentProject.dateAccessed | date: 'shortDate'}}
                    </div>
                    <div class="col s4 right">
                      <b>Changed:</b>  {{currentProject.dateModified | date: 'shortDate'}}
                    </div>
                  </div>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>

</div>
