<div class="project-overview-container">

  <div class="project-overview-header">
    <h1>{{currentProject.name}}</h1>
  </div>

  <div class="project-summary-container">
    <div class="container">
      <h2>{{currentProject.name}} Details</h2>
      <div class="row">
        <button mat-button *ngIf="!detailsHidden" (click)="detailsHidden = !detailsHidden">Hide Details</button>
        <button mat-button *ngIf="detailsHidden" (click)="detailsHidden = !detailsHidden">Show Details</button>
        <div class="col right">
          <div class="ks-info-controls" [style.display]="detailsHidden ? 'none': 'block'">
            <button mat-icon-button (click)="openAll()">
              <mat-icon>
                unfold_more
              </mat-icon>
            </button>
            <button mat-icon-button (click)="closeAll()">
              <mat-icon>
                unfold_less
              </mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="project-accordion-container" [style.display]="detailsHidden ? 'none': 'block'">
        <mat-accordion #accordion="matAccordion" [multi]="true" togglePosition="after" class="ks-details-accordion">
          <!--        TODO: implement notes features (add a note, delete a note, etc)-->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <mat-form-field style="width: 100%" (focusout)="setDescription()">
                    <mat-label>Description</mat-label>
                    <textarea placeholder="Enter or Edit Description..."
                              [matTextareaAutosize]="true"
                              [(ngModel)]="currentProject.description"
                              cdkAutosizeMinRows="5"
                              matInput></textarea>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="currentProject.topics && currentProject.topics.length > 0">
            <mat-expansion-panel-header>
              <mat-panel-title>Topics</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <app-project-topic-list [sourceRef]="'app-project-summary'"></app-project-topic-list>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Notes</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <mat-form-field style="width: 100%" (focusout)="setNotes()">
              <textarea placeholder="Enter or Edit a Note..."
                        [matTextareaAutosize]="true"
                        [(ngModel)]="currentProject.notes"
                        cdkAutosizeMinRows="4"
                        matInput></textarea>
                  </mat-form-field>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Calendar</mat-panel-title>
              <mat-panel-description></mat-panel-description>
              <div class="mat-panel-body">
                <ng-template matExpansionPanelContent>
                  <app-project-calendar [calendar]="currentProject.calendar" (start)="calStart($event)" (end)="calEnd($event)"></app-project-calendar>
                  <div class="row">
                    <div class="col s4 left">
                      <b>Created:</b>   {{currentProject.dateCreated | date}}
                    </div>
                    <div class="col s4 right">
                      <b>Changed:</b>  {{currentProject.dateModified | date}}
                    </div>
                  </div>
                </ng-template>
              </div>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="project-ks-list-container" *ngIf="currentProject.knowledgeSource && currentProject.knowledgeSource.length > 0">
    <div class="container">
      <mat-divider></mat-divider>
      <h2>{{currentProject.name}} Knowledge Sources</h2>
    </div>
    <app-knowledge-source-table></app-knowledge-source-table>
  </div>
</div>
