.projects-tree-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.mat-tree-node {
  max-height: 32px !important;
  min-height: 32px !important;
  white-space: nowrap;
  padding-right: 8px;
  user-select: none;
  cursor: context-menu;
}

.background-highlight {
  background-color: rgba(var(--kc-secondary-color-med), 0.75) !important;
}
