<div mat-dialog-title>
  <mat-form-field (focusout)="updateKS()" style="width: 100%">
    <input matInput [(ngModel)]="knowledgeSource.title">
  </mat-form-field>
</div>

<div mat-dialog-content class="search-result-dialog-content" id="search-result-dialog-content">

  <mat-tab-group (selectedTabChange)="tabClick($event)" animationDuration="0ms" style="width: 99%">
    <mat-tab label="Details">
      <app-ks-info [knowledgeSource]="knowledgeSource"></app-ks-info>
    </mat-tab>

    <mat-tab label="Preview">
      <div class="electron-browser-view" id="electron-browser-view">
        <mat-progress-bar mode="indeterminate" style="width: 90%" *ngIf="!viewReady"></mat-progress-bar>
        <div *ngIf="viewReady && safeUrl">
          <iframe [src]="safeUrl" style="width: 67vw; min-height: 50vh"></iframe>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="openInBrowser()">Open in New Window</button>
  <button mat-button (click)="saveToPdf()" *ngIf="knowledgeSource.ingestType !== 'file'">Save as PDF</button>
  <button mat-button (click)="copyLink()" *ngIf="this.knowledgeSource.ingestType === 'file'">Copy Path</button>
  <button mat-button (click)="copyLink()" *ngIf="this.knowledgeSource.ingestType !== 'file'">Copy Link</button>
  <button *ngIf="sourceRef !== 'list'" mat-button color="primary" (click)="importSource()">Add to Project</button>
  <button *ngIf="sourceRef === 'list'" mat-button color="warn" (click)="removeSource()">Remove from Project</button>
</div>
