
.tree-progress-bar {
  margin-left: 30px;
}

.context-menu-trigger {
  height: 0;
  width: 0;
}

.drag-indicator-button {
  cursor: move;
  margin-right: 10px;
  width: 10px;
}

.drag-indicator-icon {
  cursor: move;
  font-size: large;
  width: 10px;
}

.project-tree-container {
  width: 100%;
  min-height: 50pc;
  height: 100%;
  border: 1px solid #555;
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.project-tree-node-title {
  margin-right: 30px;
}
