<div *ngIf="stage_1 || !stage_2">
  <h1 class="center">Add a Knowledge Source</h1>
  <mat-grid-list *ngIf="!stage_3"
                 rowHeight="2:1"
                 cols="2">

    <mat-grid-tile (click)="selectSearch()"
                   matTooltip="Search the web"
                   matTooltipShowDelay="1000"
                   matTooltipClass="tool-tip">
      <div class="scale-up-center ingest-panel-card">
        <mat-icon>travel_explore</mat-icon>
        Search
      </div>
    </mat-grid-tile>

    <mat-grid-tile (click)="selectExtract()"
                   matTooltip="Add a website by pasting a link"
                   matTooltipShowDelay="1000"
                   matTooltipClass="tool-tip">
      <div class="scale-up-center ingest-panel-card">
        <mat-icon>web</mat-icon>
        Website
      </div>
    </mat-grid-tile>

    <mat-grid-tile matTooltip="Add files from your computer"
                   matTooltipClass="tool-tip"
                   matTooltipShowDelay="1000"
                   (click)="selectFiles()">
      <div class="scale-up-center ingest-panel-card">
        <mat-icon>description</mat-icon>
        Files
      </div>
    </mat-grid-tile>

    <mat-grid-tile matTooltip="Perform a smart search using project topics"
                   matTooltipShowDelay="1000"
                   matTooltipClass="tool-tip"
                   (click)="selectTopics()">
      <div class="scale-up-center ingest-panel-card">
        <mat-icon>topic</mat-icon>
        Topics
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<div class="row scale-up-center" *ngIf="searchEnabled">
  <div class="col s12">
    <form>
      <mat-form-field (keyup.enter)="submitSearch()"
                      class="search-bar-form"
                      appearance="standard">
        <mat-label>Search Term</mat-label>
        <input [ngModelOptions]="{standalone: true}"
               [(ngModel)]="searchTerm"
               autofocus
               matInput
               required
               #search>
        <mat-hint>Enter a search term, then press Enter.</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>

<app-website-extraction *ngIf="extractionEnabled"></app-website-extraction>

<app-file-upload class="scale-up-center" *ngIf="filesEnabled"></app-file-upload>

<div class="row" *ngIf="topicsEnabled">
  <div class="col s12">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
