.DS_Store
.idea/
/kc_nlp/src/.ipynb_checkpoints/
/node_modules/
__pycache__
auth.json
dist/
documents/
sample.json
src/kc_angular/node_modules
src/kc_angular/dist/
src/kc_electron/dist/
src/kc_electron/node_modules/
src/kc_knowledge/dist/
src/kc_knowledge/node_modules/
src/kc_extensions/node_modules/
/.yarnrc
/.yarn/
