<app-settings-common-header header="Storage"></app-settings-common-header>
<div class="container">
  <h2>Danger Zone</h2>
  <div class="kc-danger-zone">
    <div class="flex-row-center-between">
      <div>
        Delete all files.
      </div>
      <div>
        <button mat-button color="warn" (click)="deleteFiles()">
          Delete Files
        </button>
      </div>
    </div>

    <div class="flex-row-center-between">
      <div>
        Delete all knowledge sources, files, projects, etc.
      </div>
      <div>
        <button mat-button color="warn" (click)="deleteEverything()">
          Delete Everything
        </button>
      </div>
    </div>
  </div>
</div>
