<div class="row">
  <div class="col s4 left">
    <b>Filename</b>
  </div>
  <div class="col s3 center" style="margin: 0">
    <b>Size</b>
  </div>
  <div class="col s2 center">
  </div>
</div>
<hr>

<div class="row" *ngFor="let file of files">
  <div class="col s4 file-title left">
    {{file.filename}}
  </div>
  <div class="col s3">
    {{file.size / 1024 | number : '1.0-0'}}KB
  </div>
  <div class="col s2 center" *ngIf="file.id">
    <button mat-icon-button (click)="openFile(file.id)">
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="removeFile(file.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

