<div mat-dialog-title>
  <div class="knowledge-source-icon-container">
    <img [src]="ks.icon" class="knowledge-source-icon-large" alt="Knowledge Source icon">
  </div>
  <br>
  <mat-form-field (focusout)="updateKS()" style="width: 100%">
    <input matInput [(ngModel)]="ks.title" placeholder="Title" required>
  </mat-form-field>
</div>

<div class="search-result-dialog-content"
     id="search-result-dialog-content"
     mat-dialog-content>

  <mat-tab-group (selectedTabChange)="tabClick($event)"
                 [selectedIndex]="selectedTab.value"
                 (selectedIndexChange)="selectedTab.setValue($event)"
                 animationDuration="0ms"
                 style="width: 100%">

    <mat-tab label="Details">
      <app-ks-info [ks]="ks" (ksModified)="ksModified($event)"></app-ks-info>
    </mat-tab>

    <mat-tab label="Preview">
      <div class="electron-browser-view" id="electron-browser-view">
        <mat-progress-bar mode="indeterminate"
                          style="width: 90%"
                          *ngIf="!viewReady"
                          id="progress-bar">
        </mat-progress-bar>
        <div *ngIf="viewReady && safeUrl">
          <iframe [src]="safeUrl" class="browser-viewport"></iframe>
        </div>
        <div *ngIf="viewReady && thumbnail">
          <img [src]="thumbnail" alt="A thumbnail view of the selected file">
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Notes">
      <div class="ks-notes-viewport">
        <mat-form-field class="ks-notes-textarea" (focusout)="notesModified()">
          <textarea placeholder="Enter notes here..."
                    cdkAutosizeMinRows="20"
                    [(ngModel)]="notes"
                    cdkTextareaAutosize
                    matInput></textarea>
          <mat-hint>Notes are automatically saved when changes are made.</mat-hint>
        </mat-form-field>
        <div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

<div mat-dialog-actions>
  <button *ngIf="this.ks.ingestType !== 'file'" mat-button (click)="openInBrowser()">Open in...</button>
  <button *ngIf="this.ks.ingestType === 'file'" mat-button (click)="openLocally()">Open in...</button>
  <button *ngIf="this.ks.ingestType === 'file'" mat-button (click)="copyLink()" >Copy Path</button>
  <button *ngIf="this.ks.ingestType !== 'file'" mat-button (click)="copyLink()" >Copy Link</button>
  <button *ngIf="sourceRef !== 'ks-drop-list'" mat-button (click)="importSource()" color="primary">Add to Project</button>
  <button *ngIf="sourceRef !== 'ks-drop-list'" mat-button (click)="removeQueueItem()" color="warn">Remove from Up Next</button>
  <button *ngIf="sourceRef === 'ks-drop-list'" mat-button color="warn" (click)="removeSource()">Remove from Project</button>
</div>
