<div class="cdk-virtual-scroll-data-source">
  <div class="knowledge-canvas-sidebar-title"></div>
  <div cdk-scrollable class="project-knowledge-source-viewport">
    <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="canvasNodes"
         class="knowledge-canvas-sidebar" id="knowledge-canvas-sidebar">
      <div cdkDrag class="canvas-node-container canvas-add-node" (click)="addSource()"
           [matTooltipClass]="{'tool-tip':true}" matTooltip="Click to add a new source" matTooltipPosition="after">
        <mat-icon>add</mat-icon>
      </div>
      <div *ngFor="let node of canvasNodes" class="canvas-node-container" (click)="displayContextPopup(node)" cdkDrag
           [cdkDragData]="node" [matTooltipClass]="{'tool-tip':true}" matTooltip="{{node.title}}"
           matTooltipPosition="after">
        <img *ngIf="node.icon" class="knowledge-source-icon" [src]="node.icon" alt="">
        <img *ngIf="!node.icon" class="knowledge-source-icon" src="{{node.iconUrl}}" alt="">
      </div>
    </div>
  </div>
</div>
