@import "projects/main/src/theme";

.app-sidenav-content {
  flex: 1 1 auto;
  height: 100%;
}

.app-top-toolbar {
  text-align: center;
  background: $kc-primary-color-med;
  z-index: 100;
}

.app-toolbar-container {
  width: 100%;
  flex: 1 1 auto;
}

.mat-nav-list .mat-list-item {
  font-size: 12px;
}

.sidenav-container {
  height: 100%;
}
