<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="'navigation'" [mode]="'side'"
                 [opened]="false"
                 class="sidenav"
                 fixedInViewport>

      <mat-toolbar>
        <!--        <img alt="Company Logo" src="assets/app.png" style="max-height: 40px"/>-->
      </mat-toolbar>

      <mat-divider></mat-divider>

      <div>
        <mat-nav-list>
          <a mat-list-item routerLink="/" routerLinkActive="active">Dashboard</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/app-files" routerLinkActive="active">Files</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>


    <mat-sidenav-content class="app-sidenav-content">
      <mat-toolbar color="accent" class="app-top-toolbar">
        <div class="app-toolbar-container">
          <span class="left">
            <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
          </span>
          <span>
          <img src="assets/img/img.png"
               alt="" style="max-height: 48px"/>
          </span>
          <span class="right">
            <button mat-icon-button routerLink="/app-settings" routerLinkActive="active">
                <mat-icon>settings</mat-icon>
            </button>
          </span>
        </div>
      </mat-toolbar>

      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>

      <footer class="footer center">
        © 2021 All Rights Reserved
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
