.project-overview-container {
}

.project-summary-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

app-project-summary {
  width: 100%;
  margin: 10px;
}

.project-topic-list {
  width: 100%;
}

app-project-topic-list {
  width: 100%;
  margin: 10px;
}
