.project-detail-overview-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.project-detail-overview-title {
  margin: 5px;
}

.project-topic-list {
  width: 100%;
}

app-project-topic-list {
  width: 100%;
}
