.project-detail-overview-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-detail-overview-title {
  margin: 20px;
}
