.dropzone {
  width: 100%;
  color: var(--text-color);
  border-radius: 5px;
  background-image: linear-gradient(225deg,
    var(--surface-b) 25%, var(--surface-c) 25%,
    var(--surface-c) 50%, var(--surface-b) 50%,
    var(--surface-b) 75%, var(--surface-c) 75%,
    var(--surface-c) 100%);
  background-size: 64.00px 64.00px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
