<div class="row">
  <div class="col s12">
    <h2>New Project</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="project.name" matInput>
      <mat-hint>Give your project a descriptive name.</mat-hint>
    </mat-form-field>
  </div>
</div>

<app-project-topic-list [parentId]="undefined" (topicEvent)="addTopic($event)"></app-project-topic-list>

<div class="row">
  <div class="col s12">
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="project.description" matInput></textarea>
      <mat-hint>Describe the purpose of the project.</mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mat-form-field appearance="standard">
      <mat-label>Project Type</mat-label>
      <mat-select [(value)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.displayValue}}
        </mat-option>
      </mat-select>
      <mat-hint>
        Selecting a project type will help the Knowledge Canvas make more intelligent recommendations.
      </mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Import Knowledge Sources</h4>
    <p>The Knowledge Canvas works by comparing various knowledge sources. Uploading files that are relevant to your
      project will help the Knowledge Canvas help you learn faster and recommend better content. Currently, we only
      support PDF uploads.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <app-file-upload></app-file-upload>
  </div>
</div>


<div class="row">
  <div class="col right">
    <button (click)="create()" color="primary" mat-button>Create</button>
    <button (click)="dismiss()" color="warn" mat-button>Cancel</button>
  </div>
</div>
