<div class="cdk-virtual-scroll-data-source">

  <div class="canvas-node-container canvas-add-node pulsate-fwd"
       matTooltip="Click to add a new source"
       [matTooltipClass]="{'tool-tip':true}"
       matTooltipShowDelay="250"
       (click)="addSource()">
    <mat-icon>add</mat-icon>
  </div>

  <div [hidden]="hideSortHeader">
    <div class="ks-sort-label">
      <div [matTooltipClass]="{'tool-tip':true}"
           matTooltip="{{this.tooltip}}"
           matTooltipShowDelay="750"
           class="ks-sort-key"
           #ksSortKey>
        A-Z
      </div>
    </div>
    <div class="ks-list-sort-buttons">
      <mat-icon class="ks-list-sort-button" (click)="sortPrevious()">arrow_left</mat-icon>
      <mat-icon class="ks-list-sort-button" (click)="sortNext()">arrow_right</mat-icon>
    </div>
  </div>

  <div cdkScrollable class="project-knowledge-source-viewport">
    <div (cdkDropListDropped)="drop($event)"
         cdkDropListOrientation="vertical"
         class="knowledge-canvas-sidebar"
         [cdkDropListData]="canvasNodes"
         id="{{CONTAINER_ID}}"
         cdkDropList>

      <div matTooltip="{{getKsTooltip(node) | titlecase}}"
           class="canvas-node-container truncated"
           [matTooltipClass]="{'tool-tip':true}"
           (click)="displayContextPopup(node)"
           *ngFor="let node of canvasNodes"
           matTooltipShowDelay="250"
           [cdkDragData]="node"
           cdkDrag>

        <img *ngIf="node.icon" class="knowledge-source-icon" [src]="node.icon" alt="">
        <img *ngIf="!node.icon" class="knowledge-source-icon" src="{{node.iconUrl}}" alt="">
      </div>
    </div>
  </div>
</div>
