<mat-form-field class="project-topic-list" appearance="fill">
  <mat-label>Topics</mat-label>
  <mat-chip-list #chipList aria-label="Project Tags">
    <mat-chip (click)="topicClicked(topic)"
              *ngFor="let topic of topics"
              [selectable]="selectable"
              (removed)="remove(topic)"
              [removable]="removable">
      {{topic}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)"
           placeholder="Add topics separated by a comma..."
           [matChipInputFor]="chipList"
           [formControl]="topicInput"
           [matAutocomplete]="auto">
  </mat-chip-list>
  <mat-hint *ngIf="kcComponentType !== undefined && topics.length > 0">Hint: You can click on any topic to perform an instant web search!</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
      {{topic}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
