<mat-form-field class="project-topic-list" appearance="standard" (change)="auto.showPanel = true">
  <mat-label>Topics</mat-label>
  <mat-chip-list #chipList aria-label="Project Tags">
    <mat-chip matTooltip="Click to search for {{topic}}!"
              (click)="topicClicked(topic)"
              *ngFor="let topic of topics"
              matTooltipClass="tool-tip"
              matTooltipShowDelay="1000"
              [selectable]="selectable"
              (removed)="remove(topic)"
              [removable]="removable">
      {{topic}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)"
            (focus)="onFocus()"
           placeholder="Add a Topic..."
           [matChipInputFor]="chipList"
           [formControl]="topicCtrl"
           [matAutocomplete]="auto"
           #topicInput>
  </mat-chip-list>
  <mat-hint *ngIf="sourceRef !== undefined && topics.length > 0">Hint: You can click on any topic to perform an instant web search!</mat-hint>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic" (click)="onFocus()">
      {{topic}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
