<div class="row">
  <div class="col s12">
    <h2>Advanced</h2><br>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h3>File 1</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col s2">
    <mat-checkbox [formControl]="rename">Rename:</mat-checkbox>
  </div>
  <div class="col s10">
    <mat-form-field appearance="standard">
      <input matInput [formControl]="rename_to" placeholder="original_filename.pdf">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <mat-checkbox [formControl]="summarize">Summarize</mat-checkbox>
  </div>
  <div class="col s4">
    <mat-checkbox [formControl]="visualizations">Generate Visualizations</mat-checkbox>
  </div>
  <div class="col s4">
    <mat-checkbox [formControl]="extractMetadata">Extract Metadata</mat-checkbox>
  </div>
</div>
