.project-search-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.projects-search-full-width {
  width: 100%;
}

.projects-container {
  height: 90vh;

  border-bottom-color: darkgrey;
  border-bottom-style: ridge;
  border-bottom-width: 1px;

  border-top-color: darkgrey;
  border-top-style: ridge;
  border-top-width: 1px;

  border-right-color: darkgrey;
  border-right-style: ridge;
  border-right-width: 1px;

  border-left-color: darkgrey;
  border-left-style: ridge;
  border-left-width: 1px;
}

.projects-container-sidebar {
  max-width: 20%;
  border-right-color: darkgrey;
  border-right-width: 1px;
  border-bottom-color: darkgrey;
  border-bottom-width: 1px;
}

.projects-container-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: inherit;
}

app-project-detail {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  align-content: stretch;
  position: unset;
}

.projects-container-overflow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
