.search-result-dialog-icon {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
}

.search-result-dialog-content {

}

.search-result-image-thumbnail {
  max-width: 90%;
}
