@import "../../../styles/theme";

.ks-info-dialog-backdrop {

}

.ks-sort-label {
  text-align: center;
  user-select: none;
  font-size: 12px;

  .ks-sort-key {
    color: $kc-primary-color-light;
    text-decoration: underline;
    font-size: 12px;
    cursor: help;
  }
}

.ks-list-sort-buttons {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  user-select: none;
  flex-wrap: nowrap;
  display: flex;
}

.ks-list-sort-button {
  max-height: 8px !important;
  max-width: 8px !important;
  height: 8px !important;
  width: 8px !important;
  display: contents;
  cursor: pointer;
}

.knowledge-canvas-sidebar {
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 48px;
  min-width: 48px;
  height: 100%;
  display: flex;
  border: 2px;
}

.knowledge-canvas-sidebar-title {
  border-bottom: solid 1px lightgrey;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 48px;
  flex-wrap: nowrap;
  height: 48px;
  display: flex;
}

.canvas-add-node {
  background-color: $kc-secondary-color-dark !important;
  cursor: pointer;
}

.cdk-virtual-scroll-data-source .project-knowledge-source-viewport {
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
  overflow-y: auto;
  flex-wrap: nowrap;
  height: inherit;
  display: flex;
}

.project-knowledge-source-viewport:last-child {
  padding-bottom: 100px !important;
}

.cdk-virtual-scroll-data-source .project-knowledge-source-viewport .cdk-virtual-scroll-content-wrapper {
  flex-direction: column;
  display: flex;
}

.search-result-dialog-icon {
  min-height: 32px !important;
  max-height: 32px !important;
  min-width: 32px !important;
  max-width: 32px !important;
  height: 32px !important;
  width: 32px !important;
}

.cdk-virtual-scroll-content-wrapper {
  height: 100% !important;
}

.cdk-virtual-scroll-content-wrapper {
  height: 100% !important;
}

.cdk-virtual-scroll-data-source {
  border-right: solid 1px lightgrey;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 64px;
  display: flex;
  height: 100%;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  min-width: 100%;
  height: 100%;
}
