.knowledge-source-drop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  height: 100%;
}


.ks-sort-label {
  text-align: center;
  user-select: none;
  font-size: 12px;

  .ks-sort-key {
    color: var(--kc-primary-color-light);
    text-decoration: underline;
    font-size: 12px;
    cursor: help;
  }
}

.ks-list-sort-buttons {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  user-select: none;
  flex-wrap: nowrap;
  display: flex;
}

.ks-list-sort-button {
  max-height: 8px !important;
  max-width: 8px !important;
  height: 8px !important;
  width: 8px !important;
  display: contents;
  cursor: pointer;
}

.knowledge-canvas-sidebar {
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 48px;
  min-width: 48px;
  height: 100%;
  display: flex;
  border: 2px;
}

.canvas-add-node {
  background-color: var(--kc-secondary-color-dark) !important;
}

.cdk-virtual-scroll-data-source .project-knowledge-source-viewport {
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 15px;
  overflow-y: auto;
  flex-wrap: nowrap;
  height: calc(100% - 97px);
  display: flex;
}

.cdk-virtual-scroll-data-source {
  border-right: solid 1px lightgrey;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 64px;
  display: flex;
  height: 100%;
}

.ks-drop-list-visibility-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.ks-drop-list-visibility-toggle {
  position: absolute;
}

.ks-drop-list-open {
  left: 48px;
}

.ks-drop-list-closed {
  left: 0;
}
