<div class="knowledge-source-drop-list">
  <div class="cdk-virtual-scroll-data-source" [style.display]="ksListVisible ? 'block' : 'none'">

    <div class="knowledge-source-image-container canvas-add-node jello-vertical"
         matTooltip="Click to add a new source"
         [matTooltipClass]="{'tool-tip':true}"
         matTooltipShowDelay="250"
         (click)="openKsImportDialog()">
      <mat-icon>add</mat-icon>
    </div>

    <div [hidden]="hideSortHeader">
      <div class="ks-sort-label">
        <div [matTooltipClass]="{'tool-tip':true}"
             matTooltip="{{this.tooltip}}"
             matTooltipShowDelay="750"
             class="ks-sort-key"
             #ksSortKey>
          A-Z
        </div>
      </div>
      <div class="ks-list-sort-buttons">
        <mat-icon class="ks-list-sort-button" (click)="sortPrevious()">arrow_left</mat-icon>
        <mat-icon class="ks-list-sort-button" (click)="sortNext()">arrow_right</mat-icon>
      </div>
    </div>

    <div cdkScrollable class="project-knowledge-source-viewport">
      <div (cdkDropListDropped)="onKsDropEvent($event)"
           cdkDropListOrientation="vertical"
           class="knowledge-canvas-sidebar"
           [cdkDropListData]="ksList"
           id="{{CONTAINER_ID}}"
           cdkDropList>

        <div matTooltip="{{getKsTooltip(node) | titlecase}}"
             class="knowledge-source-image-container truncated"
             [matTooltipClass]="{'tool-tip':true}"
             (click)="openKsInfoDialog(node)"
             *ngFor="let node of ksList"
             matTooltipShowDelay="250"
             [cdkDragData]="node"
             cdkDrag>

          <img *ngIf="node.icon" class="knowledge-source-icon" [src]="node.icon" alt="">
          <img *ngIf="!node.icon" class="knowledge-source-icon" src="{{node.iconUrl}}" alt="">
        </div>
        <div style="max-height: 32px;min-height: 32px;max-width: 32px; min-width: 32px; opacity: 0">
        </div>
      </div>
    </div>
  </div>

  <div class="ks-drop-list-visibility-container">
    <button [matTooltip]="ksListVisible ? 'Hide Drop List' : 'Show Drop List'"
            [class.ks-drop-list-closed]="!ksListVisible"
            [class.ks-drop-list-open]="ksListVisible"
            class="ks-drop-list-visibility-toggle"
            (click)="toggleVisibility()"
            matTooltipClass="tool-tip"
            mat-icon-button>
      <mat-icon *ngIf="!ksListVisible">double_arrow</mat-icon>
      <mat-icon *ngIf="ksListVisible" style="transform: rotate(180deg);">double_arrow</mat-icon>
    </button>
  </div>
</div>
