<mat-drawer-container class="kc-settings-container">
  <mat-drawer mode="side" opened class="kc-settings-drawer">
    <div class="flex-row-center-start">
      <button mat-icon-button (click)="back()" hidden>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="kc-h1">
        Settings
      </div>
      <mat-divider></mat-divider>
    </div>
    <div>
      <mat-nav-list>
        <a [routerLink]="[{ outlets: { 'settings-router' : ['app-display-settings']}}] "
           mat-list-item
           routerLinkActive>Display</a>
        <mat-divider></mat-divider>
        <a [routerLink]="[{ outlets: { 'settings-router' : ['app-search-settings']}}] "
           mat-list-item
           routerLinkActive>Search</a>
        <mat-divider></mat-divider>
        <a [routerLink]="[{ outlets: { 'settings-router' : ['app-storage-settings']}}] "
           mat-list-item
           routerLinkActive>Storage</a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="kc-settings-content">
    <router-outlet name="settings-router"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>





