<div class="row">
  <div class="col s1">
    <button mat-icon-button (click)="back()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </button>
  </div>
  <div class="col s11">
    <h1>Knowledge Canvas Settings</h1>
  </div>
</div>


<div class="row">
  <div class="col s3">
    <button mat-button (click)="clearLocalStorage()">Clear Local Storage</button>
  </div>
  <div class="col s3" *ngIf="localStorage">
    <button mat-button (click)="printLocalStorage()">Print Local Storage</button>
  </div>
</div>
