<div class="row">
  <div class="col s12">
    <h2>New Project</h2>
  </div>
</div>

<form [formGroup]="projectCreationForm">
  <div class="row">
    <div class="col s12">
      <mat-form-field appearance="standard" (change)="onNameChange()">
        <mat-label>Name</mat-label>
        <input formControlName="name"
               class='form-control'
               id="name"
               matInput
               required>
      </mat-form-field>
      <div *ngIf="f.name.invalid && f.name.touched">
        <mat-hint style="color: #f44336" *ngIf="f.name.errors">Must be 3 or more characters including: a-z, A-Z, 0-9, !, @, #, $, %, ^, &, *, (, ), - , /, \, and/or _</mat-hint>
      </div>
    </div>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col s12">-->
  <!--      <mat-form-field appearance="standard">-->
  <!--        <mat-label>Type</mat-label>-->
  <!--        <mat-select formControlName="type"-->
  <!--                    class="form-control"-->
  <!--                    id="type"-->
  <!--                    required>-->
  <!--          <mat-option *ngFor="let type of types" [value]="type.value">-->
  <!--            {{type.displayValue}}-->
  <!--          </mat-option>-->
  <!--        </mat-select>-->
  <!--      </mat-form-field>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="row">
    <div class="col s12">
      <app-project-topic-list (topicAdded)="addTopic($event)" [kcComponentType]="undefined"></app-project-topic-list>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <textarea formControlName="description"
                  [matTextareaAutosize]="true"
                  [matAutosizeMinRows]="1"
                  class="form-control"
                  id="description"
                  matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <app-project-calendar [calendar]="project.calendar" (start)="onStartChange($event)" (end)="onEndChange($event)"></app-project-calendar>
    </div>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col s12">-->
  <!--      <mat-accordion>-->
  <!--        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">-->
  <!--          <mat-expansion-panel-header>-->
  <!--            <mat-panel-title>-->
  <!--              Advanced-->
  <!--            </mat-panel-title>-->
  <!--          </mat-expansion-panel-header>-->

  <!--          <div class="row" [hidden]="!panelOpenState" *ngIf="this.project.parentId">-->
  <!--            <div class="col s6">-->
  <!--              <mat-slide-toggle>Inherit Parent Topics</mat-slide-toggle>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--                  TODO: Reinstate-->
  <!--                  <div class="row" [hidden]="panelOpenState === false">-->
  <!--                    <div class="col s12">-->
  <!--                      <p *ngIf="selectedType.value === 'school'">Upload course material and other knowledge sources.</p>-->
  <!--                      <p *ngIf="selectedType.value !== 'school'">Upload docs, reference material, and other knowledge sources .</p>-->
  <!--                    </div>-->
  <!--                  </div>-->

  <!--                  <div class="row center" *ngIf="selectedType.value === 'school'" [hidden]="panelOpenState === false">-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Syllabus</button>-->
  <!--                    </div>-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Textbook</button>-->
  <!--                    </div>-->
  <!--                  </div>-->

  <!--                  <div class="row center" *ngIf="selectedType.value !== 'school'" [hidden]="panelOpenState === false">-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Reference Material #1</button>-->
  <!--                    </div>-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Reference Material #2</button>-->
  <!--                    </div>-->
  <!--                  </div>-->

  <!--                  <div class="row center" [hidden]="panelOpenState === false">-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Knowledge Source #1</button>-->
  <!--                    </div>-->
  <!--                    <div class="col s6 center">-->
  <!--                      <button mat-raised-button>Knowledge Source #2</button>-->
  <!--                    </div>-->
  <!--                  </div>-->

  <!--        </mat-expansion-panel>-->
  <!--      </mat-accordion>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="row">
    <div class="col right">
      <button [disabled]="projectCreationForm.invalid"
              (click)="create()"
              color="primary"
              type="submit"
              mat-button>
        Create
      </button>
      <button (click)="dialogRef.close()"
              color="warn"
              type="reset"
              mat-button>
        Cancel
      </button>
    </div>
  </div>

</form>
