<div class="project-timeline-container">
  <mat-form-field appearance="fill" *ngIf="calendar">
    <mat-label>Project start/end range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="calendar.start" placeholder="Start date" (dateChange)="startDateChange($event)">
      <input matEndDate [(ngModel)]="calendar.end" placeholder="End date" (dateChange)="endDateChange($event)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
