.kc-h1 {
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.knowledge-source-icon {
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  overflow: hidden;
}

.knowledge-source-icon-large {
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  border: solid 1px #1c1c1c;
  overflow: hidden;
  border-radius: 48px;
}

.ks-details-accordion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ks-details-accordion {
  width: calc(100% - 8px);
}

.kc-context-menu-trigger {
  cursor: context-menu !important;
}

.kc-danger-zone {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
