<div class="row">
  <div class="col s12">
    <mat-form-field class="project-topic-list" appearance="standard">
      <mat-label>Topics</mat-label>
      <mat-chip-list #chipList aria-label="Project Tags">
        <mat-chip *ngFor="let topic of project.topics" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(topic)">
          {{topic}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add a Topic..."
               #topicInput
               [formControl]="topicCtrl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let topic of topics | async" [value]="topic">
          {{topic}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>Enter topics separated by a comma. Topics will help the Knowledge Canvas improve search
        results, present relevant findings, and help build insight.</mat-hint>
    </mat-form-field>
  </div>
</div>
