.search-bar {
  width: 100%;
  max-width: 75%;
  height: 32px;
  padding-left: 16px;
  border-radius: 16px;
  outline: none;
}

.search-bar-dark {
  width: 100%;
  max-width: 75%;
  height: 32px;
  padding-left: 16px;
  border-radius: 16px;
  outline: none;
  //TODO: make this compliant with material dark-theme...
  background-color: #424242;
  color: white;
}

.search-bar-icon {
  margin-right: 10px;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  align-content: center;
  flex-wrap: nowrap;
}

.search-bar-form {
  width: 50%;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}


