.knowledge-canvas-container {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  position: absolute;
}

.project-ks-list {
  min-width: 60px;
}

app-canvas-details {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

app-canvas-details-overview {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

app-canvas-source-list {
  height: 100%
}

ks-lib-knowledge-source-drag-and-drop-list {
  height: 100%;
  border-right: 1px solid grey;
}
