<div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="toggleFab()"></div>

<div class="fab-container">
  <button mat-fab color="primary" class="fab-toggler" (click)="toggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
  </button>
  <div [@speedDialStagger]="buttons.length"> <!-- and here -->
    <div *ngFor="let btn of buttons">
      <button mat-mini-fab class="fab-secondary" color="secondary" (click)="action(btn)"
              matTooltip="{{btn.label}}" matTooltipPosition="left">
        <mat-icon>{{btn.icon}}</mat-icon>
<!--        <i class="material-icons">{{btn.icon}}</i>-->
      </button>
    </div>
  </div>
</div>


<!--<button mat-button (click)="importPdf()">+ Import PDF</button>-->
<!--<button mat-button (click)="extractWebpage()">+ Extract Webpage</button>-->
