<!--Adapted from: https://medium.com/@tarekabdelkhalek/how-to-create-a-drag-and-drop-file-uploading-in-angular-78d9eba0b854-->
<div class="dropzone-container">
  <div class="dropzone" ksLibDragAndDrop (fileDropped)="onFileDropped($event)">
    <input type="file" class="dropzone-input" #fileDropRef id="fileDropRef" multiple
           (change)="fileBrowseHandler($event)"/>
    <mat-icon id="fileUploadIcon">file_upload</mat-icon>
    <h3>Drag and drop file(s) here</h3>
    <h3>or</h3>
    <button mat-button mat-raised-button class="dropzone-input-button">Browse for file(s)</button>
  </div>

  <div *ngIf="files.length > 0" style="width: 100%">
    <div class="files-list">
      <div class="single-file" *ngFor="let file of files; let i = index">
        <mat-icon>file_present</mat-icon>
        <div class="info">
          {{file.name}}
        </div>
        <button mat-icon-button>
          <mat-icon (click)="deleteFile(i)">delete</mat-icon>
        </button>
      </div>
    </div>

    <br>

    <ks-lib-ingest-import-selector [currentProject]="currentProject"
                                   (selection)="setDestination($event)">
    </ks-lib-ingest-import-selector>

    <br>

    <div class="uploadButton right">
      <button [class.jello-vertical]="files.length > 0"
              [disabled]="files.length === 0"
              mat-button color="primary"
              (click)="submit()">
        Submit
      </button>
      <button mat-button color="warn" (click)="cancel()" [class.jello-vertical]="files.length > 0">
        Cancel
      </button>
    </div>
  </div>
</div>
