<app-settings-common-header header="Search"></app-settings-common-header>

<div class="container">
  <div class="row">
    <div class="col s3">
      <mat-form-field (change)="onNumResultsChanged($event)">
        <mat-label>Show the Top...</mat-label>
        <input matInput type="number" placeholder="Ex. 10"
               [formControl]="numResults" min="1" max="10">
      </mat-form-field>
      <mat-hint>...search results</mat-hint>
    </div>
    <div class="col s1" *ngIf="numResultsChanged">
      <button mat-button (click)="applyNumResultsChange()" color="primary" class="jello-vertical">Apply</button>
    </div>
  </div>
</div>


