.website-extraction-url {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.extraction-status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}
