<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Search the Web">
    <div class="row">
      <div class="col s12">
        <form>
          <br>
          <br>
          <mat-form-field class="search-bar-form" appearance="standard" (keyup.enter)="search()">
            <mat-label>Search Term</mat-label>
            <input matInput placeholder="Enter a URL" [(ngModel)]="searchTerm" required>
            <mat-hint>Enter a search term, then press Enter.</mat-hint>
          </mat-form-field>
          <br>
          <br>
        </form>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Extract Webpage">
    <app-website-extraction></app-website-extraction>
  </mat-tab>
  <mat-tab label="Import Files">
    <app-file-upload></app-file-upload>
  </mat-tab>
</mat-tab-group>
