body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 12px;
}

#cy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
}

#buttons {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    margin: 1em;
}

.cytoscape-container {
    height: 100%;
    width: 100%
}
