<p-card class="ks-card">
  <ng-template pTemplate="header">
    <p-skeleton width="100%" height="200px" *ngIf="!thumbnail && !thumbnailUnavailable"></p-skeleton>
    <div class="w-full p-fluid flex-col-center-center bg-auto">
      <p-image *ngIf="thumbnail" [src]="thumbnail"
               class="align-self-center"
               height="200px"
               [preview]="true">
      </p-image>
      <p *ngIf="!thumbnail && thumbnailUnavailable" class="align-self-center" style="height: 200px">
        Content Thumbnail Unavailable...
      </p>
    </div>
  </ng-template>

  <ng-template pTemplate="title">
    <h1>{{ks.title | truncate: [28]}}</h1>
  </ng-template>

  <ng-template pTemplate="subtitle">
    <h2 *ngIf="showContentType">Content Type: {{contentType | titlecase}}</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="grid">
      <div class="col-3">
        <app-ks-icon [ks]="ks"></app-ks-icon>
      </div>
      <div class="col-12" *ngIf="description">
        {{description}}
      </div>
      <div class="col-12" *ngIf="keywords && keywords.length">
        <p-chip *ngFor="let kwd of keywords">
          {{kwd | titlecase}}
        </p-chip>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="col text-right">
      <button pButton class="p-button-text" icon="pi pi-trash" (click)="onRemove.emit(this.ks)"></button>
      <button pButton class="p-button-text" icon="pi pi-external-link" (click)="onOpen.emit(this.ks)"></button>
      <button pButton class="p-button-text" icon="pi pi-eye" (click)="onPreview.emit(this.ks)"></button>
    </div>
  </ng-template>
</p-card>
