@import "../../../styles/theme";

.projects-tree-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

//.mat-tree-node:nth-child(even) {
//  background-color: #F0F0F0;
//}
//
//.mat-tree-node:nth-child(odd) {
//  background-color: #FBFCFD;
//}

.mat-tree-node {
  max-height: 32px !important;
  min-height: 32px !important;
  white-space: nowrap;
  padding-right: 8px;
  cursor: context-menu;
}

.background-highlight {
  background-color: rgba($kc-secondary-color-med, 0.75) !important;
}
