.kc-h1 {
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.knowledge-source-icon {
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  overflow: hidden;
}

.knowledge-source-icon-large {
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  border: solid 1px #1c1c1c;
  overflow: hidden;
  border-radius: 48px;
}

.ks-details-accordion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ks-details-accordion {
  width: calc(100% - 8px);
}

.kc-context-menu-trigger {
  cursor: context-menu !important;
}

.kc-success {
  border: 1px solid green;
  margin: 10px !important;
  padding: 10px !important;
  border-radius: 10px !important;
  max-width: 100vw !important;
}

.kc-danger-zone {
  border: 1px solid red;
  margin: 10px !important;
  padding: 10px !important;
  border-radius: 10px !important;
  max-width: 100vw !important;
}

.ks-info-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

.ks-info-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ks-thumbnail-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
}

.ingest-import-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.ingest-import-selector {
  margin-left: 24px;
}

.digital-wellness-backdrop {
  background-color: rgba(black, 0.80);
  backdrop-filter: blur(5px);
}
