.kc-h1 {
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.knowledge-source-icon {
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  overflow: hidden;
}

.knowledge-source-icon-large {
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  overflow: hidden;
  border-radius: 48px;
  background-color: #FFF;
  z-index: auto;
  //TODO: update this to comply with dark/light mode
  border: 2px outset #FFF;
  box-shadow: 0 0 0 2px black, 0 0 0 3px white;
}

.ks-details-accordion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ks-details-accordion {
  width: calc(100% - 8px);
}

.kc-context-menu-trigger {
  cursor: context-menu !important;
}

.ks-queue-container {
  overflow: auto;
  width: 100%;
  max-width: 100%;
  min-height: 44px;
  border: 1px solid #ccc;
  // TODO: conform to material dark/light modes
  //background: #fff;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.kc-success {
  border: 1px solid green;
  max-width: 100vw !important;
  .mat-simple-snackbar-action {
    color: green !important;
  }
}

.kc-danger-zone-snackbar {
  border: 1px solid red !important;
  max-width: 100vw !important;
  .mat-simple-snackbar-action {
    color: red !important;
  }
}

.kc-danger-zone {
  border: 1px solid red;
  margin: 10px !important;
  padding: 10px !important;
  border-radius: 10px !important;
}

.ks-info-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

.ks-info-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ks-thumbnail-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
}

.ingest-import-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.ingest-import-selector {
  margin-left: 24px;
}

.digital-wellness-backdrop {
  background-color: rgba(black, 0.80);
  backdrop-filter: blur(5px);
}

.canvas-node-container {
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 3px 0 rgba(0, 0, 0, .4), inset 0 0 3px 5px rgba(0, 0, 0, .05), 2px 2px 4px 0 rgba(0, 0, 0, .25);
  writing-mode: horizontal-tb;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FFF;
  z-index: auto;
  border: 2px outset #FFF;
  align-content: center;
  flex-direction: column;
  white-space: pre-wrap;
  align-items: center;
  border-radius: 32px;
  text-overflow: fade;
  flex-wrap: nowrap;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-basis: 0;
  height: 32px;
  margin: 8px;
  padding: 10px;
  width: 32px;
  flex-grow: 1;
}
