@import "theme";

.mat-toolbar-row, .mat-toolbar-single-row {
  height: unset !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $kc-secondary-color-dark !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $kc-secondary-color-dark !important;
}

.mat-radio-outer-circle {
  color: $kc-secondary-color-dark !important;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $kc-secondary-color-med !important;
  color: #1d1d1d !important;
}

.mat-checkbox-layout {
  width: 100% !important;
}

.mat-checkbox-inner-container {
  margin-left: 0 !important;
}

.mat-checkbox-label {
  width: 100% !important;
}

.mat-snack-bar-container {
  background-color: white !important;

  .mat-simple-snackbar {
    color: #1d1d1d;
  }

  .mat-button-wrapper {
    color: #1d1d1d !important; // action text color
  }
}

//.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//  background-color: rgba($kc-secondary-color-med, 0.4) !important;
//}
//
//.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
//  background-color: $kc-secondary-color-med !important;
//}
//
//.mat-focused .mat-form-field-label {
//  color: $kc-primary-color-light !important;
//}
//
//.mat-form-field .mat-focused .mat-form-field-label {
//  color: $kc-primary-color-light !important;
//}
//
//.mat-form-field-ripple {
//  background-color: $kc-primary-color-light !important;
//  color: $kc-primary-color-light !important;
//}
//
//.mat-input-element {
//  caret-color: $kc-primary-color-light !important;
//}

.mat-chip {
  font-size: 12px !important;
  cursor: pointer !important;
}

//.mat-option-text .mat-focused {
//  color: $kc-primary-color-dark;
//}
//
//.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
//  color: $kc-primary-color-dark;
//}
//
//.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
//  color: $kc-primary-color-dark;
//}

//.mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
//  color: $kc-secondary-color-dark;
//}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $kc-primary-color-light;
}

//.mat-progress-bar-fill::after {
//  background-color: $kc-primary-color-dark;
//}

.tool-tip {
  background-color: white !important;
  border: 1px solid black;
  color: #1d1d1d !important;
  max-width: unset !important;
  width: 100%;
  font-size: 14px;
  white-space: pre-wrap;
  z-index: 100;
  margin: 4px !important;
  padding: 4px !important;
  align-content: center;
  align-items: center;
  text-align: center;
}
