$kc-primary-color-dark: #2774AE;
$kc-primary-color-med: #2774AE;
$kc-primary-color-light: #8bb8e8;

$kc-secondary-color-dark: #FFB81C;
$kc-secondary-color-med: #FFB81C;
$kc-secondary-color-light: #FFD100;

:root {
  --kc-primary-color-dark: #2774AE;
  --kc-primary-color-med: #2774AE;
  --kc-primary-color-light: #8bb8e8;

  --kc-secondary-color-dark: #FFB81C;
  --kc-secondary-color-med: #FFB81C;
  --kc-secondary-color-light: #FFD100;
}
