<div style="height: 100%">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="'dialog'" [mode]="'over'" [opened]="false">
      <div class="app-sidenav">
        <div class="app-sidenav-top-content">
          <mat-toolbar class="app-sidenav-toolbar center">
            <img alt="Company Logo" src="assets/img/app-top-toolbar-logo.png" style="max-height: 40px"/>
            <button class="app-top-toolbar-icon"
                    routerLink="/app-settings"
                    routerLinkActive="active"
                    (click)="drawer.close()"
                    mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </mat-toolbar>

          <mat-divider></mat-divider>

          <div>
            <mat-nav-list (click)="drawer.close()">
              <a mat-list-item routerLink="/" routerLinkActive="active">Knowledge Canvas</a>
              <mat-divider></mat-divider>
              <a mat-list-item routerLink="/app-files" routerLinkActive="active">Files</a>
            </mat-nav-list>
          </div>
        </div>

        <div class="app-sidenav-bottom-content">
          <mat-divider></mat-divider>
          <div class="app-sidenav-footer">
            <!--            <button routerLink="/app-settings"-->
            <!--                    routerLinkActive="active"-->
            <!--                    (click)="drawer.close()"-->
            <!--                    mat-icon-button>-->
            <!--              <mat-icon>settings</mat-icon>-->
            <!--            </button>-->
          </div>
        </div>
      </div>


    </mat-sidenav>


    <mat-sidenav-content class="app-sidenav-content">
      <mat-toolbar class="app-top-toolbar">
                  <span class="left">
            <button mat-icon-button class="app-top-toolbar-icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
          </span>
        <span>
          <img class="app-top-toolbar-logo" src="assets/img/app-top-toolbar-logo.png"
               alt=""/>
          </span>
        <span class="right">
            <button matTooltip="Be mindful of your screen-time. Set a timer to give yourself a break!"
                    [matTooltipClass]="{'tool-tip':true}"
                    class="app-top-toolbar-icon"
                    matTooltipShowDelay="750"
                    (click)="setTimerClicked()"
                    mat-icon-button>
              <mat-icon>timer</mat-icon>
            </button>
            <button matTooltip="Knowledge Canvas Settings"
                    [matTooltipClass]="{'tool-tip':true}"
                    class="app-top-toolbar-icon"
                    routerLink="/app-settings"
                    routerLinkActive="active"
                    matTooltipShowDelay="750"
                    mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </span>
      </mat-toolbar>

      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>

      <footer class="footer">
        Logged in as: Rob Royce
        <!--        © 2021 Rob Royce - All Rights Reserved-->
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
