@import "../styles/theme";

.app-sidenav-content {
  flex: 1 1 auto;
  height: 100%;
}

.app-sidenav-toolbar {
  text-align: center;
  //background: $kc-primary-color-med;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.app-top-toolbar {
  text-align: center;
  //background: $kc-primary-color-med;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.app-top-toolbar-icon {
  //height: 40px;
  //width: 40px;
}

.app-top-toolbar-logo {
  max-height: 60px;
  margin-top: 4px;
  position: absolute;
  top: 0px;
  left: calc(50% - 35px);
}

.mat-nav-list .mat-list-item {
  font-size: 12px;
}

.sidenav-container {
  height: 100%;
}

.app-sidenav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.app-sidenav-footer {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.app-footer-timer-container {
  width: 33%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.app-footer-timer-button {
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
}

.app-footer-timer-label {
  margin-right: 8px;
  cursor: help;
}

.app-footer-timer {
 margin-right: 8px;
}

.kc-loading-container {
  overflow: auto;
  width: 34%;
  max-width: 34%;
  min-height: 32px;
  //background: #fff;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
