.knowledge-canvas-details-tabs {
  width: 100%;
}

app-search-bar {
  width: 100%;
  padding-right: 35px;
}

//.cdk-virtual-scroll-data-source .canvas-node-container:last-child {
//  margin-bottom: 10px;
//  padding-bottom: 10px;
//}
