<div class="ks-preview-viewport">
  <div class="ks-preview-body" [ngStyle]="{'background-color' : backgroundColor}">
    <!--    WEB VIEWER BEGINS HERE -->
<!--        <ks-lib-browser-view -->
<!--          (onIpcResponse)="onIpcResponse($event)" -->
<!--          (viewReady)="setViewReady($event)" -->
<!--          *ngIf="url" -->
<!--          (navEvent)="onBrowserViewNavEvent($event)" -->
<!--          [url]="url"-->
<!--        ></ks-lib-browser-view>-->

    <ks-lib-browser-view
      (clickEvent)="onBrowserViewClickEvent($event)"
      (navEvent)="onBrowserViewNavEvent($event)"
      (viewReady)="setViewReady($event)"
      [kcBrowserViewConfig]="browserViewConfig"
      *ngIf="browserViewConfig"
    ></ks-lib-browser-view>

    <!--    WEB VIEWER ENDS HERE -->

    <!--    FILE VIEWER BEGINS HERE -->
    <ks-lib-file-view (clickEvent)="onFileViewClickEvent($event)"
                      (viewReady)="setViewReady($event)"
                      [config]="fileViewConfig"
                      *ngIf="fileViewConfig">
    </ks-lib-file-view>
    <!--    FILE VIEWER ENDS HERE -->
  </div>

  <div class="ks-preview-footer">
    <mat-progress-bar *ngIf="!viewReady" mode="indeterminate" style="width: 100%" id="progress-bar"></mat-progress-bar>
  </div>
</div>
