.ks-preview-viewport {
  //background-color: black;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 100%;
  max-width: 100%;
}

.ks-preview-body {
  //background-color: red;

  /**
  * The dialog itself should be opened with a height of 90vh, the footer should be 8px, and the header should be 32px
   */
  height: calc(90vh - 40px);
  max-height: calc(100vh - 48px - 40px - 32px - 32px);
}

.ks-preview-footer {
  height: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
