.ks-preview-viewport {
  //background-color: black;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 100%;
  max-width: 100%;
}

.ks-preview-body {
  //background-color: red;

  /**
  * The dialog itself should be opened with a height of 90vh
  * and the header and footer should add up to 32 + 4 = 36px
   */
  height: calc(90vh - 8px);
}

.ks-preview-footer {
  height: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
