<h1>project-context is not implemented yet.</h1>
<!--<a class="menu-trigger" mat-icon-button [matMenuTriggerFor]="menu" matMenuTriggerData="contextMenuOptions">-->
<!--    <mat-icon aria-hidden="false" aria-label="Project Options" class="menu-icon">more_vert</mat-icon>-->
<!--</a>-->

<!--<mat-menu #menu="matMenu" xPosition="after">-->
<!--    <ng-template matMenuContent let-items="menuItems">-->
<!--        <button mat-menu-item *ngFor="let item of items">-->
<!--            <mat-icon class="menu-icon" aria-hidden="false">{{item.icon}}</mat-icon>-->
<!--            <span>{{item.option}}</span>-->
<!--        </button>-->
<!--    </ng-template>-->
<!--</mat-menu>-->
